.header {
    background-image:linear-gradient(rgba(3, 2, 17, 0.67),rgba(1, 5, 15, 0.67)), url(image/Rectangle13.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    flex-shrink: 0;
}
.equipe-composant {
    background-image: url(image/AlbaarakaLogo.jpg);
 background-repeat: repeat;
 background-size: cover;
 height: 494px;
flex-shrink: 0;

}


.contact{
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 17.049px;
    background: linear-gradient(145deg, #1678F2 3.73%, #65A8FB 132.69%), #1678F2;
}
.contact a{
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 125% */
    letter-spacing: 0.56px;
}

.act {
    border-radius: 2px;
    background: #FFB366;
    width: 121px;
    height: 38px;
    flex-shrink: 0;
    font-size: 24px;
    line-height: normal;
    border: none;
}
.pres-tab{
    display: flex;
}
.pres-parg{
    margin: 5rem;
    font-size: 27px;
    margin-top: 2rem;
}
.pres-logo {
    margin-top:3rem;
}
.pres-tit {
    margin-top:5rem ;
    font-size: 32px;
    margin-left: 5rem;
}
.equipe-tit {
    font-size: 42px;
    margin-left: 5rem;
    padding-bottom: 3rem ;
}
.equipe-composant1, .equipe-composant3, .equipe-composant5 {
    margin-top:-9rem ;
}
.equipe-composant2 {
    margin-top:0rem ;

}
.texte{
    font-size: 42px;
    margin-left: 25rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.news-email {
    display: flex;
}
.page {
  
    text-align: center;
    padding-top: 3rem;
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section1 {
    display:flex;
    background-color: #FFFFFF;
    margin-left: 10rem;
    margin-top: -2.5rem;


}
.objectif {
    justify-content: center;
    width: 617px;
    height: 430px;
    flex-shrink: 0;
    border: 0px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: -10rem;
    margin-right:0.3rem ;
}
.propriete1, .propriete2 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.6rem;
}
.missions {
    justify-content: center;
    width: 630px;
    height: 430px;
    flex-shrink: 0;
    border: 0px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
.trait1, .trait2{
    width:150px;
    border-radius: 0%;
    background-color:#FFB366 ;
    height: 4px;
    margin-top:-9px;
    margin-left: 12rem;
}
.parg1, .parg2 {
    text-align: justify;
    font-size: 23px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin:1.5rem;

}


/* PARTIE DE LA SECTION VALEUR */
.valeurs {
    background-image:linear-gradient(rgba(79, 128, 252, 0.78),rgba(79, 128, 252, 0.78)),url(image/Rectangle32.jpg);
    margin-top: 9rem;
    color: #FFF;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    
}
.tab-val {
    display: flex;
}
.trait3{
    width: 150px;
    background-color: rgb(255, 179, 102);
    height: 4px;
    margin-top: -45px;
    margin-left: 5rem;
    border-radius: 0%
}
.trait6{
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-top: -3rem;
    width: 137px;
    height: 7px;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgb(79, 128, 252);

}
.trait5{
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-top: 0rem;
    width: 166px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgb(79, 128, 252); 
}
.tit-val {
    font-size:40px ;
    color: #FFF;
    padding-bottom: 3rem;
    padding-top:2rem;
    margin-left: 5rem;
}
.p-transp,.p-fiab,.p-secu,.p-qual {
    margin-bottom: 2.5rem;
    margin-right: 8rem;
    font-size: 1.2rem;

}
.val-transp,.val-secu,.val-fiab,.val-qual {
    margin-left:3rem;
}
.equipe-composant{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-top: 12rem;
}

.connaissance-tit {
    color: #212D45;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 12rem;
}
.trait4 {
    width:150px;
    border-radius: 0%; 
    background-color:rgba(0, 0, 0, 1);
    height: 4px;
    margin-left: 1rem;
  margin-bottom: 0.5rem;
    

}
.connaissance-tab {
    display: flex;
}
.connaissance-parg {
    font-size: 22px;
    margin:2rem;
    line-height:normal;
    font-family: Montserrat;
}
.connaissance-vector {
    margin-top: 15rem;
    margin-right: 2rem;
}
.connaissance-image {
    margin-top: 6rem;
}
.pointillées {
margin-left: 9rem;
}
.bouton-contact {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 28px;
    margin-left: 38rem;
    margin-top: -4rem;
}
.imagecontact{ 
    margin-left: 35rem;
}
.equipe-composant h2{
    color: #000;

text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 206px;
}
.equipe-composant1{
    text-align: center;
    width: 232px;
    height: 301px;
    flex-shrink: 0;  
    border-radius: 4px;
border: 1px solid #0365AB;
background: #FFF;
box-shadow: 4px 4px 1px 4px rgba(0, 0, 0, 0.25);
}
.equipe-composant2{
    width: 232px;
    text-align: center;
    height: 301px;
    flex-shrink: 0;  
    border-radius: 4px;
border: 1px solid #0365AB;
background: #FFF;
box-shadow: 4px 4px 1px 4px rgba(0, 0, 0, 0.25);
}
.equipe-composant3{
    text-align: center;
    width: 232px;
    height: 301px;
    flex-shrink: 0;  
    border-radius: 4px;
border: 1px solid #0365AB;
background: #FFF;
box-shadow: 4px 4px 1px 4px rgba(0, 0, 0, 0.25);
}
.equipe-composant4{
    text-align: center;
    width: 232px;
    height: 301px;
    flex-shrink: 0;  
    border-radius: 4px;
border: 1px solid #0365AB;
background: #FFF;
box-shadow: 4px 4px 1px 4px rgba(0, 0, 0, 0.25);
}
.equipe-composant5{
    text-align: center;
    width: 232px;
    height: 301px;
    flex-shrink: 0;  
    border-radius: 4px;
border: 1px solid #0365AB;
background: #FFF;
box-shadow: 4px 4px 1px 4px rgba(0, 0, 0, 0.25);
}
