:root{
    --bleu-de-nuit:#26284A;
    --bleu-claire:#4F80FC;
    --maron-claire:#FFB366;
    --blanche:#fff;

    /*font family pour les titres et les boutons*/  
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*la partie header*/
.header{
   width: 100%;
   height: auto;
   background: rgba(33, 45, 69, 0.70);
   
}

/*la partie header*/

  .header .header-top {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
  
  }
  
  .header-top .nav-hr {
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.70);
      border: none;
  }
  
   .header-infos {
      height: 9.735rem;
      display: flex;
      justify-content: space-between;
     align-items: center;
     margin: 0 4%;
  } 
  
  .header .header-infos .info-tel {
      color: var(--beige-foncé);
      font-family: var(--header-top-font);
      font-size: var(--header-top-font-size);
      font-weight: var(--header-top-font-weight);
  }
  
  .header-infos .social-media {
      display: flex;
      list-style: none;
      gap: 0.6rem;
  }
  
  .social-media img {
      width: 1.4rem;
      height: 1.4rem;
      flex-shrink: 0;
      /* border-radius: 1.4rem; */
  }
  
  .navbar1 {
      margin: 1.752rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4.3rem;
  }
  
  .navbar1 ul {
      display: flex;
      list-style: none;
      gap: 3.3rem;
  }
  
  .navbar1 a {
      color: var(--white);
      font-family: var(--header-top-font);
      font-size: var(--nav-font-size);
      font-weight: var(--header-top-font-weight);
      text-decoration: none;
  }
  
  
  
  .header-top .navbar a.active,
  .header-top .navbar a:hover {
      color: var(--beige-foncé);
  }
  .header-top .navbar .bouton-header:active,
  .header-top .navbar .bouton-header:hover{
      color: #000;
  } 
      
  .bouton-header {
      width: 121px;
  height: 38px;
      color: #000;
      font-family: var(--header-top-font);
      font-size: var(--nav-font-size);
      font-weight: 600;
      
      background: var(--beige-foncé);
      border: none;
      border-radius: 2px;
      cursor: pointer;
      padding: 0.5rem;
  }
  /*debut de la partie section du header*/
.cont-section-header{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto ;
   gap: 7%;
   width: 100%;
   padding: 3rem 6rem;
   height: auto;
}
  .scam-alert-section-header{
    background-image: url(img-blog/image\ 13.png);

  }
  .after-img{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;
  }
.text-publier{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 0.625;
}

  .ajoutetphoto-section-header{
    display: flex;
    margin: 1.5rem 0;
   
  }
  .ajout-section-header{
    margin-left: 1.64rem;
    margin-top: -0.2rem;

  }
  .btn-block1section-header{
    display: flex;
    justify-content: center;

width: 13.4375rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.6rem;
border: 1px solid #000;
background: rgba(255, 255, 255, 0.15);
align-items: center;
color: #fff;
font-style: 'Montserrat';
  }
.block2-section-header{
    width: 29.588rem;

}
.titre-block2-section-header{
    color: #FFF;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 1rem 0;
}
.text-block2-section-header{
 color: #FFF;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 1rem 0;
}
.précedentetsuivant{
    color: #FFF;
font-family:'Montserrat';
font-size: 1.2rem;
font-style: normal;
line-height: normal;
}
.article-blocks2-section-header{
    color: #FFC03D;
font-family:'Montserrat' ;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Precetsuit-block2-section-header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
   
}
.cont-precedentetsuivant{
    display: flex;
    justify-content: space-between;
   gap: 15rem;
   font-family: 'Montserrat';
   font-weight: 600;
  align-items: center;
}
.fleche2-blocks2-section-header{
    margin-left: 29%;
    position: absolute;
    width: 1.8rem;
    height: auto;
    align-items: center;
    margin-top: -0.2%;
    
}
.fleche1-blocks2-section-header{
    margin-left: -3%;
    position: absolute;
    width: 1.8rem;
    height: auto;
    align-items: center;
    margin-top: -0.2%;
}

.block3-section-header{
    width: 13rem;
    display: flex;
    flex-direction: column;
}
.titre1-blocks3-section-header{
    color: #FFC03D;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin: 0.5rem 0;
}
.conseils-blocks3-section-header{
    color: #FFF;

text-align: justify;
font-family:' Montserrat';
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0.5rem 0;
}
.fleche-responsive-header-section{
    display: none;
}
.mob-cont-section-header{
    display: none;
}

/*la partiedes articles récents*/
.cont-Article{
    display: flex;
    justify-content: space-around;
    margin: 4.541%;
    gap: 6.375%;
}

.recherche-header{
    display: none;
}
.publié-bloch1-article{
    color: #000;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 4rem;
}
.btn-article-cont-article{
    display: flex;
    color: #FFB366;
background-color: #fff;
font-family: 'Montserrat';
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
display: flex;
justify-content: end;
margin: 0 10%;



}
.arti{
    color: #000;
font-family: 'Montserrat';
font-size: 2.324rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin : 0 0 0 10% ;
}
.rech{
    width:80%;
    height: 4rem;
    border-radius: 5px;
background: #D9D9D9; 
color: #000;
font-family: 'Montserrat';
font-size: 1.8rem;
font-style: normal;
font-weight: 100;
line-height: normal;
margin-left: 9%;
}
.block2-Article{
width: 32rem;
}
.article-block2-Article{
    color: #FFB366;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.titre-block2-Article{
    color: #000;
font-family: 'Montserrat';
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.text-block2-Article{
    color: #000;
font-family: 'Montserrat';
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
/*Fin de la partie en haut*/
/*la partie des articles */
.tous-les-articles {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.les-articles-titre h3 {
    color: #000;
    font-family: 'Montserra';
    font-size: 30px;
    font-weight: 400;
}

.les-articles-titre input {
    width: 100%;
    height: 63px;
    border-radius: 5px;
    background: #D9D9D9;
    border: none;
    outline: none;
    color: #000;
    font-family: 'Montserra';
    font-weight: 100;
    font-size: 26px;
    padding: 2px 36px;
}

.articles-conteneur {
    margin: 0 auto;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 20px 50px;
    gap: 2.785rem;
}
.article-carte{
   margin: 0 auto;
    width: 525px;
height: auto;
}
.articles-conteneur .article-carte {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.articles-conteneur .article-carte img {
    width: 100%;
    height: 430px;
}

.articles-conteneur .article-carte span {
  
    color: #000;
    padding: 0.5rem;
    font-family:'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}
.text1-article-carte{
    color: #000;
padding: 1rem;
font-family: 'Montserrat';
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.articles-conteneur .article-carte p {
    color: #000;
padding: 1rem;
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.articles-conteneur .article-carte a {
    color: #FFB366;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    align-self: flex-end;
    padding: 0.5rem;
}
.mob-article{
    display: none;
}

 .boutonart {

    width: 230px;
    height: 80px;
    background: #1678F2;
    color: #fff;
    font-family: 'Montserra';
    font-size: 25px;
    font-weight: 700;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
} 

.boutonart a {
    text-decoration: none;
    color: inherit;
}
.btn-voir-before-footer{
    display: none;
}
/*la partie des recommandations*/
.titre-recommandation{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35.989px;
margin:5% 0em 2% 6.8%;

}


.conteneurs-recommandation{
    width: 75%;
    height: auto;
    background-color: #000;
    margin: 0 auto;
    display: flex;
   flex-wrap: wrap;
   padding: 2rem 5rem;
   align-items: center;
   gap: 10rem;
   align-items: center;

}

.text-recommandation{
    color: #FFF;
text-align: justify;
font-family: 'Montserrat';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.block-recommandations{
    width: 7.540rem;

}

.recommandations-mob{
    display: none;
}

/* la partie decouverte*/
.cont-decouvrir-plus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
height: 300px;
flex-shrink: 0;
background-color: rgba(79, 128, 252, 0.64);
margin: 3%;
}
.text-decouvrir-plus{
   display: flex;
   justify-content: center;
    color: #FFF;
align-items: center;
margin: 0 auto;
font-family: 'Montserrat';
font-size: 30px;
font-style: normal;
font-weight: 500;
align-self: center;
width: 1168px;
}
.btn-découvrir-plus{
    width: 294px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2D86F5;
    color: #FFF;
display: flex;
justify-content: center;
font-family: 'Montserrat';
font-size: 26px;
font-style: normal;
font-weight: 700;
align-items: center;
margin: 0 auto;
}
.mob-cont-section-header{
    display: none;
}

@media only screen and (max-width:768px) {
/*La partie header du navbar et des infos */
.header .header-top {
    display: none;
 
 }
 .header-logo{
     width: 4.5rem;
     height:6.5rem ;
 }
 .header-top .nav-hr {
    display: none;
 }
 
  .header-infos {
    display: none;
 } 
 
 .header-infos .social-media {
 display: none;
 }
 
 .social-media img {
   display: none;
 }
 
 .navbar1 {
   display: none;
 }
    
 /*la partie du section header*/
 
 .cont-section-header{
    padding: 2rem;
    gap: 4%;
 }
 
 .block1-section-header{
    width:16rem;
 }
 .articles-conteneur{
    padding: 3rem;}
 .scam-alert-section-header{
    width: 16rem;
height: auto;
background-size: cover;

 }
 .text-publier{
    font-size: 0.657rem;
    font-style: normal;
    font-weight: 600;
 }
 .block2-section-header{
    width: 23.588rem;
 }
 .titre-block2-section-header{
    font-size: 1.3rem;
    margin: 0;
 }
 .Precetsuit-block2-section-header{
 display: none;
 }

 .block3-section-header{
   margin-left:  45%;
   display: flex;
  justify-content: space-around;
  width: 100%;
 }
 .titre1-blocks3-section-header{
    display: flex;
    justify-content: center;
    margin-left: -20%;
 }
.img-header-consulté{
    width: 8.5rem;
    height: auto;
}
.conseils-blocks3-section-header{
    width: 8.5rem;
    margin-left:37% ;
    margin-top:-14% ;
    position: relative;
}

.fleche-responsive-header-section{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    width: 100%;
    margin-top: -5%;
    font-family: 'Montserrat';
    font-weight: 600;
}
.précedentetsuivant-responsive1{
    display: flex;
    align-items: center;
    gap: 12%;
} 

/*la partie des articles*/
.photo-block1-Article{
    width: 15.564rem;
    height: auto;
    margin-top: 40%;
}
.article-block2-Article{
    position: relative;
    padding:0 1rem ;
    display: flex;
    margin-left: -80%;
    font-size:1.8rem ;
    color: #FFB366;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
line-height: normal;
}
.titre-block2-Article{
    position: relative;
    padding: 1rem;
    display: flex;
    margin-left: -80%;
    font-size:1.5rem ;
  justify-content: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
line-height: normal;
}
.publié-bloch1-article{
    color: #000;
    margin: 1rem 0rem;
text-align: start;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
}
.text-block2-Article{
    color: #000;

font-family: 'Montserrat';
font-size: 1.3rem;
font-style: normal;
font-weight: 300;
}
.btn-article-cont-article{
  font-size: 1.3rem;
  margin-top: -5%;
}
.arti{
color: #000;
font-family:'Montserrat';
font-size: 25px;
font-style: normal;
font-weight: 400;
}
.rech{
    width: 614px;
height: 48px;
color: #000;

font-family: 'Montserrat';
font-size: 20px;
font-style: normal;
font-weight: 100;
}
.boutonart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
height: 49px;
border-radius: 17.049px;
background: linear-gradient(145deg, #1678F2 3.73%, #65A8FB 132.69%), #1678F2;
}
.titre-recommandation{
    margin: 5%;
    display: flex;
    justify-content: center;
}
.conteneurs-recommandation{
    width: 100%;
display: flex;
flex-wrap: wrap;
gap: 30%;
padding:5% 18%;
}
.block-recommandations{
    margin: 5%;
}
.cont-decouvrir-plus{
    width: 100%;
    margin:  1rem 0;
    height:12.5rem;
}
.text-decouvrir-plus{
    color: #FFF;
    text-align: center;
    font-family:'Montserrat' ;
    font-size: 1.390rem;
    font-style: normal;
    font-weight: 500;
    padding:1% 8% 1% 8%  ;
}
.btn-découvrir-plus{
    width: 15.965rem;
height: 3.052rem;
font-size: 1.3rem;
margin-top: -5%;
}



@media only screen and (max-width:468px){
    /*partie du mobile*/

.cont-section-header{
    display: none; 
   
}
.mob-cont-section-header{
    display: flex;
    padding: 0.5rem;
    gap: 0.8rem;
    background: #808080;
}
.titre1-blocks3-section-header{
    font-size:0.5rem ;
}
.conseils-blocks3-section-header{
    margin-left: 0;
    margin-top: 0%;
    font-size: 0.4rem;
    width: 6rem;
}
.img-header-consulté{
    width: 6rem;
    height: auto;
}
.scam-alert-section-header{
    width: 10rem;
margin-top: 20%;
}
.comment-phto-mob-block1{
    margin-top: 10%;
    align-items: center;
}
.btn-block1section-header{
    width: 4.352rem;
height: 14px;
font-size:0.5rem ;
margin-left: -15%;
}
.photo-block1-section-header{
    width: auto;
    height: 1.2rem;
}
.ajoutetphoto-section-header{
    margin-left: -15%;
}
.ajout-section-header{
    font-size: 0.4rem;
}
.titre-block2-section-header{
font-size: 0.55rem;
padding: 0.2rem;
margin-top:-29% ;
}
.text-block2-section-header{
    font-size: 0.5rem;
}
.fleche2-blocks2-section-header{
    display: none;
}
.fleche1-blocks2-section-header{
    display: none;
}
.directions-blocks2-section-header{
    display: flex;
    justify-content: space-between;
    color: #FFF;
   align-items: center;
   margin-top: -5%;
}
.suitetprece-blocks2-section-header{
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    gap: 115%;
    margin-left: -40%;
    align-items: center;
   
}
.fleche{
    width: 1rem;
    height: auto;
}
.recherche-header{
    display: flex;
    justify-content: center;
    padding: 0.7rem  ;
    background: #808080;
    margin-top:-3% ;
}
.recherche-section-header{
    width: 15rem;
height: 1.5rem;
flex-shrink: 0;
border-radius: 5px;
background: #FFF
}
/*début de la partie des articles */
.article-block2-Article{
    display: none;
}
.publié-bloch1-article{
   margin-top: -110%;
   margin-left: 53.5%;
   font-weight: 600;
   width: 17rem;
}
.titre-block2-Article{
    font-size: 1.3rem;
    margin-left: -53%;
    margin-top: 20%;
     width: 18rem;
}

.photo-block1-Article{
    margin-left:55% ;
    margin-top: 54%;
    width: 18rem;
height: auto;
}
.text-block2-Article{
    position: relative;
    margin-left: -50%;
    margin-top: 70%;
    font-size: 1.1rem;
    width: 20rem;
}
.btn-article-cont-article{
    padding: 0.5rem;
    font-size: 1rem;
}
.rech,.arti{
display: none;
}
.articles-conteneur{
    display: none;
}
.boutonart{
    display: none;
}
.mob-article{
    padding: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
background: rgba(79, 128, 252, 0.71);
}
.titre-mob-article{
 margin: 0 auto;
    padding: 0.5rem;
    color: #000;

font-family: Montserrat;
font-size: 01rem;
font-style: normal;
font-weight: 500;
}
.photo1-mob-article{
    padding: 0.5rem;
}
.text-mob-article{
    color: #FFF;

font-family: 'Montserrat';
font-size: 0.7rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding:0.5rem ;
}
.titre2-mob-article{
    display: flex;
    justify-content: end;
    color: #FFC03D;
padding: 0.5rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    margin-top: -5%;
    
}
.groupe-mob-article{
    width: 99px;
    height: auto;
    margin: 0 auto;

}

.tailedirection{
    width: 18.928px;
height: 19.054px;
}
.direction-gauche1{
    position: absolute;
    margin-left: -10%;
    margin-top: 30%;
}
.direction-droite1{
    position: absolute;
    margin-left: 75%;
    margin-top: 30%;
}
.titre-recommandation{
    font-size: 1rem;
font-style: normal;
font-weight: 600;
}
.conteneurs-recommandation{
    display: none;
}
.cont-decouvrir-plus{
    display: none;
}
.recommandations-mob{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15%;
    background: #000;
    color: #FFF;
    margin: 2rem 0;
}
.text-recommadation-mob{
    color: #FFF;
font-family: 'Montserrat';
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0.5rem;
}
.text2-recommandations-mob{
    display: flex;
    justify-content: end;
    padding: 0.8rem;
    
color: #FFB366;
}
.btn-recommandation-mob{
    padding: 0.5rem;
    width: 7rem;
height: 2.4rem;
font-family: 'Montserrat';
font-size: 1rem;
font-style: normal;
font-weight: 700;
color: #FFF;
border-radius: 10px;
background: #FFB366;
margin: 0 auto;
}
}