:root{
    --bleu-de-nuit:#26284A;
    --bleu-claire:#4F80FC;
    --maron-claire:#FFB366;
    --blanche:#fff;

    /*font family pour les titres et les boutons*/  
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*la partie header*/
.header{
   width: 100%;
   height: 45.653rem;
   background: rgba(33, 45, 69, 0.70);
   
}

/*la partie header*/

  .header .header-top {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
  
  }
  
  .header-top .nav-hr {
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.70);
      border: none;
  }
  
   .header-infos {
      height: 9.735rem;
      display: flex;
      justify-content: space-between;
     align-items: center;
     margin: 0 4%;
  } 
  
  .header .header-infos .info-tel {
      color: var(--beige-foncé);
      font-family: var(--header-top-font);
      font-size: var(--header-top-font-size);
      font-weight: var(--header-top-font-weight);
  }
  
  .header-infos .social-media {
      display: flex;
      list-style: none;
      gap: 0.6rem;
  }
  
  .social-media img {
      width: 1.4rem;
      height: 1.4rem;
      flex-shrink: 0;
      /* border-radius: 1.4rem; */
  }
  
  .navbar {
      margin: 1.752rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4.3rem;
  }
  
  .navbar ul {
      display: flex;
      list-style: none;
      gap: 3.3rem;
  }
  
  .navbar a {
      color: var(--white);
      font-family: var(--header-top-font);
      font-size: var(--nav-font-size);
      font-weight: var(--header-top-font-weight);
      text-decoration: none;
  }
  
  
  
  .header-top .navbar a.active,
  .header-top .navbar a:hover {
      color: var(--beige-foncé);
  }
  .header-top .navbar .bouton-header:active,
  .header-top .navbar .bouton-header:hover{
      color: #000;
  } 
      
  .bouton-header {
      width: 121px;
  height: 38px;
      color: #000;
      font-family: var(--header-top-font);
      font-size: var(--nav-font-size);
      font-weight: 600;
      
      background: var(--beige-foncé);
      border: none;
      border-radius: 2px;
      cursor: pointer;
      padding: 0.5rem;
  }
  /*debut de la partie section du header*/
.cont-section-header{
    display: flex;
    justify-content: space-between;
    margin: 4.251rem 7.125rem ;
   gap: 7.954rem;
}
  .scam-alert-section-header{
    background-image: url(img-blog/image\ 13.png);

  }
  .after-img{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;
  }
.text-publier{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 0.625;
}

  .ajoutetphoto-section-header{
    display: flex;
    margin: 1.5rem 0;
   
  }
  .ajout-section-header{
    margin-left: 1.64rem;
    margin-top: -0.2rem;

  }
  .btn-block1section-header{
    display: flex;
    justify-content: center;

width: 13.4375rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.6rem;
border: 1px solid #000;
background: rgba(255, 255, 255, 0.15);
align-items: center;
color: #fff;
font-style: 'Montserrat';
  }
.block2-section-header{
    width: 49.988rem;

}
.titre-block2-section-header{
    color: #FFF;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 1rem 0;
}
.text-block2-section-header{
    color: #FFF;

font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 1rem 0;
}
.précedentetsuivant{
    color: #FFF;
font-family:'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.article-blocks2-section-header{
    color: #FFC03D;
font-family:'Montserrat' ;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Precetsuit-block2-section-header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
   
}
.cont-precedentetsuivant{
    display: flex;
    justify-content: space-between;
   gap: 15rem;
}
.fleche2-blocks2-section-header{
    margin-left: 27%;
    position: absolute;
}
.fleche1-blocks2-section-header{
    margin-left: -3rem;
    position: absolute;
}

.block3-section-header{
    width: 13rem;
}
.titre1-blocks3-section-header{
    color: #FFC03D;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin: 0.5rem 0;
}
.conseils-blocks3-section-header{
    color: #FFF;

text-align: justify;
font-family:' Montserrat';
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0.5rem 0;
}

/*la partiedes articles récents*/
.cont-Article{
    display: flex;
    justify-content: space-around;
    margin: 7.5%;
    gap: 6.375%;
}


.publié-bloch1-article{
    color: #000;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 4rem;
}
.articl{
    color: #FFB366;
background-color: #fff;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 70rem;
margin-top: -10%;
border: none;
}
.arti{
    color: #000;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 140px;
}
.rech{
    width: 1183px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 5px;
background: #D9D9D9; 
color: #000;
margin-left: 128px;

font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.block2-Article{
width: 32rem;
}
.article-block2-Article{
    color: #FFB366;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.titre-block2-Article{
    color: #000;
font-family: 'Montserrat';
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.text-block2-Article{
    color: #000;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
/*Fin de la partie en haut*/
.tous-les-articles {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
   
}

.les-articles-titre h3 {
    color: #000;
    font-family: 'Montserra';
    font-size: 30px;
    font-weight: 400;
}

.les-articles-titre input {
    width: 100%;
    height: 63px;
    border-radius: 5px;
    background: #D9D9D9;
    border: none;
    outline: none;
    color: #000;
    font-family: 'Montserra';
    font-weight: 100;
    font-size: 26px;
    padding: 2px 36px;
}

.articles-conteneur {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 20px 50px;
    gap: 50px;
   
}
.article-carte{
    margin: 1.2%;
}
.articles-conteneur .article-carte {
    width: 45%;
    height: 800px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.articles-conteneur .article-carte img {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.articles-conteneur .article-carte span {
    color: #000;
    font-family: 'Montserra';
    font-size: 24px;

}

.articles-conteneur .article-carte p {
    color: #000;
    font-family: 'Montserra';
    font-size: 26px;
    padding: 0px 15px;
}

.articles-conteneur .article-carte a {
    color: #FFB366;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    align-self: flex-end;
}

 .boutonart {
    width: 230px;
    height: 80px;
    background: #1678F2;
    color: #fff;
    font-family: 'Montserra';
    font-size: 25px;
    font-weight: 700;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
} 

.boutonart a {
    text-decoration: none;
    color: inherit;
}










/*la partie des recommandations*/
.titre-recommandation{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35.989px;
margin:5% 0em 2% 6.8%;

}


.conteneurs-recommandation{
    width: 78.126rem;
    height: 17.25rem;
    background-color: #000;
    margin: 2% 7%;
    display: flex;
    justify-content: space-around;
   padding: rem;
   align-items: center;
}

.text-recommandation{
    color: #FFF;
text-align: justify;
font-family: 'Montserrat';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.block-recommandations{
    width: 8.540rem;

}



/* la partie decouverte*/
.cont-decouvrir-plus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
height: 300px;
flex-shrink: 0;
background-color: rgba(79, 128, 252, 0.64);
margin: 3%;
}
.text-decouvrir-plus{
   display: flex;
   justify-content: center;
    color: #FFF;
align-items: center;
margin: 0 auto;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 500;
align-self: center;
width: 1168px;
}
.btn-découvrir-plus{
    width: 294px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2D86F5;
    color: #FFF;
display: flex;
justify-content: center;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
align-items: center;
margin: 0 auto;
}