@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


/* Modules */
@import 'styles/navbar.css';
@import 'styles/footer.css';

/* Design Systèm */
:root {
    /* colors */
    --bleue-foncé-footer: #1F365C;
    --bleue-clair: #4F80FC;
    --beige-foncé: #ffb366;
    --white: #FFFFFF;
    --black: #000000;

    /* Text configuration */
    --body-font: 'Montserrat';
    --bouton-font: 'Inter';
    --header-top-font: 'Inter';
    --header-bottom-font: 'Montserra';
    --news-btn-font: 'Work Sans';
    --liste-font: 'Open Sans';

    --header-top-font-size: 1.5rem;
    --news-btn-size: 14px;
    --header-top-font-weight: 500;

    --nav-font-size: 1.5rem;
    --footer-font-size: 1.25rem;
    --footer-font-weight: 600;
    --footer-p-size: 0.75rem;
    --header-top-font-size: 1.25rem;
    --header-top-font-weight: 500;
    --nav-font-size: 1.5rem;


    /* Faite pas attention à moi
    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;
    

    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    --body-line-height: 1.5rem;
    --body-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;

    --title-line-height: 1.75rem; 
    --title-line-height: 1.75rem; */
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}