@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
.plateforme{
   text-align: center;
  
}
.plateforme img{
    width: 387px;
height: 339px;
flex-shrink: 0;
}
.plateforme h2{
    color: #000;

text-align: center;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 19px;
}
.grand_parg{
    color: #000;

    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.petit_parg{
    color: #000;

text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.button{
align-items: center;
text-align: center;
margin: 10px;
}
.button input{
border-radius: 5px;
background: rgba(217, 217, 217, 0.41);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 319px;
height: 55px;
flex-shrink: 0;
color: #000;

text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn1{
    width: 210px;
height: 55px;
flex-shrink: 0;
border-radius: 5px;
background: #FFB366;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 5%;
}
.btn1 ul ,li{
list-style-type: none;

}
.btn1 a{
    text-decoration: none;
    color: black;
   
}
.btn2{
    width: 229px;
    height: 48px;
    flex-shrink: 0; 
    border-radius: 5px;
background: #4F80FC;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 5%;
margin-left:70%;
}
.btn2 ul ,li{
    list-style-type: none;
    
    }
    .btn2 a{
        text-decoration: none;
        color: white;
       
       
    }
