body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: auto;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/house-with-balcony-sky-background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-bottom {
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( rgba(79, 128, 252, 0.031), rgba(56, 79, 154, 0.29), rgba(38, 40, 74, 0.988)), url(images/img-hero-header.png);
    background-repeat: no-repeat;
    background-position: bottom;
    gap: 20px;
    padding-bottom: 20px;
}

.header-bottom h1 {
    color: var(--beige-foncé);
    font-family: var(--body-font);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-bottom h2 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 2.18rem;
    font-style: normal;
    font-weight: 700;
    text-align: justify;
    width: 1021px;
}

.header-bottom p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 1021px;
}

.header-bottom button {
    width: 218px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--bleue-clair);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    border: none;
    color: var(--white);
    font-family: var(--bouton-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 33px;
    cursor: pointer;
}

/* section découverte */
.découverte {
    width: 100%;
    height: 656px;
    display: flex;
    align-items: center;
    padding: 50px 80px;
    gap: 30px;
}

.découverte .découverte-text {
    width: 70%;
}

.découverte .découverte-text span {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.découverte .découverte-text h2 {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.découverte .découverte-text hr {
    width: 109px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #26284A;
}

.découverte .découverte-text p {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1.1px;
    padding: 50px 0px;
}

.découverte .découverte-text button {
    width: 226px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4F80FC;
    color: var(--white);
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.découverte  img {
    width: 315px;
    height: 280px;
}

/* pourquoi-albaraka */

.pourquoi-albaraka {
    width: 100%;
    height: 686px;
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    gap: 80px;
    background-image: url(images/nouvelles-cles-maison-plan-table-1.png);
    background-size: cover;
    margin-bottom: 100px;
}

.pourquoi-albaraka h2 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.pourquoi-albaraka .item-conteneur {
    display: flex;
    justify-content: space-between;
}

.pourquoi-albaraka .item-conteneur .item {
    width: 20%;
    height: 385px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    gap: 28px;
    text-align: center;
}

.item-conteneur .item img {
    width: 125px;
    height: 124px;
    background-color: var(--bleue-clair);
    padding: 25px;
    border-radius: 50%;
}

/* fonctionnalité-clé */
.fonctionnalité-clé {
    width: 100%;
    height: 765px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fonctionnalité-clé h2 {
    color: var(--bleue-foncé-footer);
    font-family: var(--body-font);
    font-size: 34px;
    font-weight: 700;
    padding-left: 50px;
}

.fonctionnalité-clé hr {
    width: 110px;
    height: 5px;
    border-radius: 2px;
    background: #26284A;
    margin-left: 50px;
}

.fonctionnalité-clé .fonctionnalité-banner {
    width: 100%;
    height: 550px;
    border: 1px solid blue;
    display: flex;
    margin-top: 50px;
}

.fonctionnalité-banner .banner-gauche {
    flex-basis: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/Keuryi-villa-Amy-Cover-650x650_1.png);
    background-size: cover;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fonctionnalité-banner .banner-gauche h3 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 30px;
    font-weight: 700;
}

.fonctionnalité-banner .banner-gauche p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 22px;
    font-weight: 400;
}

.fonctionnalité-banner .banner-gauche button {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--beige-foncé);
    color: var(--white);
    font-family: var(--bouton-font);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.fonctionnalité-banner .banner-droite {
    flex-basis: 50%;
    background-image: linear-gradient(rgba(255, 179, 102, 0.91),rgba(255, 179, 102, 0.915)), url(images/banner-droite.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 50px;
}

.fonctionnalité-banner .banner-droite h3 {
    text-align: center;
    font-family: var(--body-font);
    font-size: 26px;
    font-weight: 700;
    color: var(--bleue-foncé-footer);
}

.liste-conteneur {
    display: flex;
}

.banner-droite .liste-banner {
    width: 50%;
}

.banner-droite .liste-banner ul {
    list-style: none;    
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.banner-droite .liste-banner ul li {
    display: flex;
}

.liste-banner li p {
    color: #212D45;
    font-family: var(--liste-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.fonctionnalité-clé p.dernier-paragraphe {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0px 15px 0px;
}

/*** artcle-recents ****/

.artcle-recents {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(79, 128, 252, 0.26);
    padding: 50px;
}

.artcle-recents .article-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.artcle-recents h3 {
    color: var(--bleue-foncé-footer);
    font-family: var(--body-font);
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}

.artcle-recents hr {
    width: 80px;
    height: 3px;
    border-radius: 2px;
    background: #26284A;
}

.conteneur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

.conteneur .chevrons {
    width: 50px;
    height: 58px;
    cursor: pointer;
}

.article-conteneur {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.article-conteneur .article {
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 10px;
}

.article-conteneur .article img {
    width: 100%;
}

.article-conteneur .article .bg-img {
    width: 100%;
    height: auto;
    background: url(images/article2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.article-conteneur .article p {
    color: #000;
    font-family: var(--body-font);
    font-size: 22px;
}

.article-conteneur .article button {
    width: 93px;
    height: 35px;
    border-radius: 2px;
    background: #4F80FC;
    border: none;
    display: flex;
    color: #fff;
    font-family: var(--body-font);
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
}

/* temoignages */

.temoignages {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.temoignages .temoignage-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.temoignages .temoignage-titre h3 {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 34px;
    font-weight: 500;
}

.temoignages .temoignage-titre hr {
    width: 70px;
    height: 3px;
    border-radius: 2px;
    background: #26284A;
}

.temoignage-conteneur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temoignage-conteneur .chevrons {
    width: 58px;
    height: 58px;
    cursor: pointer;
}

.temoignage-conteneur .carte-temoin-conteneur {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.carte-temoin-conteneur .temoignage-carte {
    width: 320px;
    height: 336px;
    border-radius: 12px;
    background: rgba(255, 179, 102, 0.56);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.temoignage-carte .profil {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.temoignage-carte .profil h4 {
    color: #000;
    text-align: center;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 600;
}

.temoignage-carte .profil p {
    color: #000;
    font-family: var(--body-font);
    font-size: 12px;
}

.temoignage-carte .profil .note {
    display: flex;
}

.profil .note img {
    width: 15px;
    height: 15px;
}

.temoignage-carte h4 {
    color: #000;
    text-align: center;
    font-family: var(--body-font);
    font-size: 12px;
    font-weight: 500;
}

.temoignage-carte p {
    color: #000;
    text-align: center;
    font-weight: var(--body-font);
    font-weight: 400;
    font-size: 12px;
}

.carte-temoin-conteneur .temoignage-carte-active {
    width: 438px;
    height: 453px;
    border-radius: 12px;
    background: rgba(255, 179, 102, 0.56);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.temoignage-carte-active .profil {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.temoignage-carte-active .profil h4 {
    color: #000;
    text-align: center;
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 600;
}

.temoignage-carte .profil p {
    color: #000;
    font-family: var(--body-font);
    font-size: 18px;
}

.temoignage-carte-active .profil .note {
    display: flex;
}

.temoignage-carte-active .note img {
    width: 22px;
    height: 22px;
}

.temoignage-carte-active h4 {
    color: #000;
    text-align: center;
    font-family: var(--body-font);
    font-size: 23px;
    font-weight: 500;
}

.temoignage-carte-active p {
    color: #000;
    text-align: center;
    font-weight: var(--body-font);
    font-weight: 400;
    font-size: 18px;
}

.defilement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-défile {
    display: none;
}

/* Navigation bar */
.header-infos .menu-hamburger {
    display: none;
    width: 50px;
    height: 45px;
    cursor: pointer;
}




/* Responsive des pages */
/* Media Queries format tablette */
@media (max-width: 1200px) {
    /* Navigation */
    .header-infos .menu-hamburger {
        display: block;
    }
    .header-top .navbar {
        display: flex;
        position: absolute;
        top: 120px;
        right: 60px;
        margin-right: -250%;
        transition: all 0.5s ease-in-out;
    }
    .navbar.mobile-menu {
        margin-right: 0;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.65);
        box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);
        padding: 30px 50px;
        backdrop-filter: blur(10px);
    }
    .navbar li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.64);
    }
    .bouton {
        padding: 0;
        background: none;
    } 
    .bouton a {
        text-decoration: none;
        color: inherit;
    }

    /* header bottom */
    .header .header-bottom {
        width: 100%;
        height: 500px;
    }
    .header-bottom h1 {
        font-size: 1.6rem;
    }
    .header-bottom h2 {
        font-size: 1.3rem;
        width: 570px;
    }
    .header-bottom p {
        font-size: 1.1rem;
        width: 321px;
    }
    .header-bottom button {
        width: 155px;
        height: 45px;
        font-size: 15px;
    }

    /* découverte */
    .découverte {
        position: relative;
        padding: 50px 100px;
    }
    .découverte-text {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }
    .découverte .découverte-text span {
        font-size: 18px;
        align-self: center;
    }
    .découverte .découverte-text h2 {
        font-size: 28px;
        margin-bottom: 2px;
    }
    .découverte .découverte-text p {
        font-size: 24px;
        width: 100%;
        padding: 20px 0px;
    } 
    .découverte .découverte-text button {
        width: 144px;
        height: 37px;
        font-size: 15px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        align-self: center;
        
    }
    .découverte  img {
        position: absolute;
        top: 30%;
        left: 25%;
        width: 515px;
        height: 480px;
        z-index: -10;
        opacity: 0.2;
    }

    /* pourquoi-albaraka */
    .pourquoi-albaraka {
        width: 100%;
        height: 890px;
        display: flex;
        gap: 60px;
    }
    .pourquoi-albaraka h2 {
        font-size: 30px;
    }
    .pourquoi-albaraka .item-conteneur{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }
    .pourquoi-albaraka .item-conteneur .item {
        width: 40%;
        height: 304px;
        padding: 20px 25px;
        gap: 22px;
    }
    .item-conteneur .item img {
        width: 94px;
        height: 90px;
        padding: 18px 17px;
    }

    /* fonctionnalité-clé */
    .fonctionnalité-clé h2 {
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }
    .fonctionnalité-clé hr {
        align-self: center;
        margin-left: 0px;
    }
    .fonctionnalité-banner .banner-gauche h3 {
        font-size: 24px;
    }
    .fonctionnalité-banner .banner-gauche p {
        font-size: 18px;
    }
    .fonctionnalité-banner .banner-gauche button {
        width: 124px;
        height: 45px;
        font-size: 20px;
        align-self: center;
    }
    .fonctionnalité-banner .banner-droite h3 {
        font-size: 24px;
    }
    .liste-conteneur {
        display: flex;
        flex-direction: column;
    } 
    .banner-droite .liste-banner {
        width: 100%;
    }
    .banner-droite .liste-banner ul {
        gap: 15px;
    }
    .liste-banner li p {
        font-size: 18px;
    }
    .fonctionnalité-banner .banner-droite {
        padding: 30px 30px;
        gap: 30px;
    }
    .banner-droite .liste-banner {
        margin-bottom: 10px;
    }
    .fonctionnalité-clé p.dernier-paragraphe {
        font-size: 24px;
    }

    /*Artcle-recents  */
    .artcle-recents h3 {
        font-size: 30px;
    }
    .article-conteneur .article-caché {
        display: none;
    }
    .article-conteneur .article {
        gap: 20px;
    }
    .article-conteneur .article p {
        font-size: 20px;
        font-weight: 600;
    }
    .article-conteneur .article button {
        width: 93px;
        height: 35px;
        font-size: 12px;
        align-self: center;
    }

    /* temoignages */
    .temoignages {
        display: none;
    }

    /* footer */
    .footer .footer-top .footer-caché {
        display: none;
    }
    .footer .footer-top .footer-info {
        width: 30%;
        position: relative;
    }
    .footer .footer-top {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 3rem 3rem;
    }
    .footer-top .footer-info p {
        font-size: 15px;
        text-align: center;
    }
    .footer-top .footer-info .listes li {
        display: flex;
        gap: 1rem;  
        margin-bottom: 10px;  
    }
    .footer-top .footer-info .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .social-media{
        position: absolute;
        bottom: -40px;
        left: 640px;
    }
    
}


/* Media Queries format mobile */
@media (max-width: 760px) {
    /* Navigation */
    .header-infos .menu-hamburger {
        display: block;
    }
    
    .header-top {
        background: rgba(33, 45, 69, 0.54);
    }
    .header-top .caché {
        display: none;
    }
    .header .header-infos .header-logo {
        width: 79px;
        height: 74px;
        margin-left: 0;
    }
    .header .header-infos .info-tel {
        font-size: 12px;
    }

    /* header bottom */
    
    .header-bottom h1 {
        font-size: 1.4rem;
    }
    .header-bottom h2 {
        font-size: 1.2rem;
        width: 420px;
        font-weight: 500;
    }
    .header-bottom p {
        font-size: 1.1rem;
        width: 321px;
    }
    .header-bottom button {
        font-size: 14px;
    }

    /* découverte */
    .découverte {
        position: none;
        padding: 20px 20px;
        height: 856px;
        display: flex;
        flex-direction: column-reverse;
    }
    .découverte .découverte-text {
       width: 70%; 
    }
    .découverte .découverte-text span {
        font-size: 16px;
        align-self: flex-start;
    }
    .découverte .découverte-text h2 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .découverte .découverte-text .hr-hidden {
        display: none;
    }
    .découverte .découverte-text p {
        font-size: 18px;
        width: 100%;
        padding: 20px 0px;
    } 
    .découverte .découverte-text button {
        width: 144px;
        height: 37px;
        font-size: 15px;
        background: #26284A;
    }
    .découverte  img {
        position: initial;
        width: 167px;
        height: 209px;
        opacity: 1;
        margin-top: 50px;
    }

    /* pourquoi-albaraka */
    .pourquoi-albaraka {
        height: 195vh;
    }
    .pourquoi-albaraka h2 {
        font-size: 24px;
    }
    
    .pourquoi-albaraka .item-conteneur .item {
        width: 80%;
        height: 304px;
        padding: 5px 18px;
        gap: 18px;
    }
    .item-conteneur .item img {
        width: 74px;
        height: 70px;
        padding: 16px 15px;
    }

    /* fonctionnalité-clé */
    .fonctionnalité-clé {
        width: 100%;
        height: 1265px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .fonctionnalité-clé h2 {
        font-size: 24px;
    }
    .fonctionnalité-clé .hr-hidden {
        display: none;
    }
    .fonctionnalité-banner {
        width: 100%;
        min-height: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .fonctionnalité-banner .banner-gauche {
        height: 50%;
    }
    .fonctionnalité-banner .banner-gauche h3 {
        font-size: 24px;
    }
    .fonctionnalité-banner .banner-gauche p {
        font-size: 21px;
    }
    .fonctionnalité-banner .banner-gauche button {
        width: 124px;
        height: 45px;
        font-size: 20px;
        align-self: center;
    }
    .fonctionnalité-banner .banner-droite{
        height: 50%;
    }
    .fonctionnalité-banner .banner-droite h3 {
        font-size: 22px;
    }
    .liste-conteneur {
        display: flex;
        flex-direction: column;
    } 
    .banner-droite .liste-banner {
        width: 60%;
        margin: auto;
    }
    .banner-droite .liste-banner ul {
        gap: 15px;
    }
    .liste-banner li img {
        width: 36px;
        height: 29px;
    }
    .liste-banner li p {
        font-size: 18px;
    }
    .fonctionnalité-banner .banner-droite {
        padding: 30px 30px;
        gap: 30px;
    }
    .banner-droite .liste-banner {
        margin-bottom: 10px;
    }
    .fonctionnalité-clé p.dernier-paragraphe {
        font-size: 20px;
    }

    /*Artcle-recents  */
    .icone-défile {
        display: block;
        width: 36px;
        height:  8px;
        align-self: center;
    }
    
    .artcle-recents h3 {
        font-size: 24px;
    }
    .article-conteneur .article p {
        font-weight: 500;
    }
    .article-conteneur .article button {
        align-self: flex-end;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    }

    /* temoignages */
    .temoignages {
        display: flex;
    }

    .temoignages .temoignage-titre h3 {
        font-size: 24px;
    }
    .temoignages .temoignage-carte-active {
        width: 400px;
        height: 463px;
    }

    /* footer */
    .footer .footer-top .footer-caché {
        display: block;
    }
    .footer .footer-top .footer-info {
        width: 80%;
        display: flex;
    }
    .footer .footer-top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0rem;
    }
    .footer-top .footer-info p {
        font-size: 15px;
        text-align: center;
    }
    .footer-top .footer-info .listes li {
        display: flex;
        gap: 1rem;  
        margin-bottom: 10px;  
    }
    .footer-top .footer-info .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .social-media{
        position: initial;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-top .order-1 {
        order: 1;
    }
    .footer-top .order-2 {
        order: 2;
    }
    .footer-top .order-3 {
        order: 4;
    }
    .footer-top .order-4 {
        order: 3;
    }
    .footer-info .news-email {
        width: 100%;
        display: flex;
    }
    
    .footer-info .news-email input[type="text"] {
        display: flex;
        flex: 1;
    }
    
}


/* Media Queries format mobile */
@media (max-width: 520px) {
    /* Navigation */
    .header .header-infos {
        height: 120px;
        padding: 0;
    } 
    .header-infos .menu-hamburger {
        display: block;
    }
    .header-top .navbar {
        position: absolute;
        top: 70px;
        right: 10px;
    }
    .header-top .navbar ul a {
        font-size: 16px;
    }
    .header-top .navbar ul {
        gap: 1.3rem;
    }
    .header-top {
        background: rgba(33, 45, 69, 0.54);
    }
    .header-top .caché {
        display: none;
    }
    .header .header-infos .header-logo {
        width: 69px;
        height: 64px;
        margin-left: 0;
    }
    .header .header-infos .info-tel {
        font-size: 12px;
    }

    /* header bottom */
    
    .header-bottom h1 {
        font-size: 1.2rem;
    }
    .header-bottom h2 {
        font-size: 1rem;
        width: 300px;
        font-weight: 500;
    }
    .header-bottom p {
        font-size: 0.9rem;
        width: 300px;
    }
    .header-bottom button {
        font-size: 13px;
    }

    /* découverte */
    .découverte {
        padding: 20px 10px;
    }
    .découverte .découverte-text {
       width: 80%; 
    }
    .découverte .découverte-text span {
        font-size: 14px;
    }
    .découverte .découverte-text h2 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .découverte .découverte-text p {
        font-size: 16px;
        padding: 20px 0px;
    } 
    .découverte .découverte-text button {
        font-size: 14px;
    }

    /* pourquoi-albaraka */
    .pourquoi-albaraka {
        height: 195vh;
    }
    .pourquoi-albaraka h2 {
        font-size: 22px;
        max-width: 365px;
        text-align: center;
    }
    
    .pourquoi-albaraka .item-conteneur .item {
        width: 95%;
        height: 304px;
        padding: 5px 18px;
        gap: 12px;
    }
    .item-conteneur .item img {
        width: 64px;
        height: 60px;
        padding: 0;
    }

    /* fonctionnalité-clé */
    .fonctionnalité-clé {
        width: 100%;
        height: 1365px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .fonctionnalité-clé h2 {
        font-size: 22px;
    }
    .fonctionnalité-banner {
        width: 100%;
        min-height: 85%;
        display: flex;
        flex-direction: column-reverse;
    }
    .fonctionnalité-banner .banner-gauche {
        height: 50%;
    }
    .fonctionnalité-banner .banner-gauche h3 {
        font-size: 22px;
    }
    .fonctionnalité-banner .banner-gauche p {
        font-size: 19px;
    }
    .fonctionnalité-banner .banner-gauche button {
        width: 124px;
        height: 45px;
        font-size: 20px;
        align-self: center;
    }
    .fonctionnalité-banner .banner-droite{
        height: 50%;
    }
    .fonctionnalité-banner .banner-droite h3 {
        font-size: 20px;
    }
    .liste-conteneur {
        display: flex;
        flex-direction: column;
    } 
    .banner-droite .liste-banner {
        width: 96%;
        margin: auto;
    }
    .banner-droite .liste-banner ul {
        gap: 12px;
    }
    .liste-banner li img {
        width: 34px;
        height: 27px;
    }
    .liste-banner li p {
        font-size: 16px;
    }
    .fonctionnalité-banner .banner-droite {
        padding: 30px 30px;
        gap: 30px;
    }
    .banner-droite .liste-banner {
        margin-bottom: 10px;
    }
    .fonctionnalité-clé p.dernier-paragraphe {
        font-size: 16px;
    }

    /*Artcle-recents  */
    .icone-défile {
        display: block;
        width: 36px;
        height:  8px;
        align-self: center;
    }
    
    .artcle-recents h3 {
        font-size: 24px;
    }
    .article-conteneur .article p {
        font-weight: 500;
    }
    .article-conteneur .article button {
        align-self: flex-end;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    }

    /* temoignages */
    .temoignages {
        display: flex;
    }
    .temoignages .temoignage-carte {
        display: none;
    }
    .temoignages .temoignage-titre h3 {
        font-size: 18px;
    }
    .temoignages .temoignage-carte-active {
        width: 300px;
        height: 363px;
    }
    .temoignage-carte-active .note img {
        width: 14px;
        height: 14px;
    }
    
    .temoignage-carte-active h4 {
        font-size: 19px;
    }
    
    .temoignage-carte-active p {
        font-size: 14px;
    }
    .defilement {
        width: 50%;
        margin: 0 auto;
    }
    .defilement img {
        width: 80px;
        height: 8px;
    }

    /* footer */
    .footer .footer-top .footer-caché {
        display: block;
    }
    .footer .footer-top .footer-info {
        width: 80%;
        display: flex;
    }
    .footer .footer-top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0rem;
    }
    .footer-top .footer-info p {
        font-size: 15px;
        text-align: center;
    }
    .footer-top .footer-info .listes li {
        display: flex;
        gap: 0.8rem;  
        margin-bottom: 10px;  
    }
    .footer-top .footer-info .listes li p {
        font-size: 16px; 
    }
    .footer-top .footer-info .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .social-media{
        position: initial;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-top .order-1 {
        order: 1;
    }
    .footer-top .order-2 {
        order: 2;
    }
    .footer-top .order-3 {
        order: 4;
    }
    .footer-top .order-4 {
        order: 3;
    }
    .footer-info .news-email {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    
    .footer-info .news-email input[type="text"] {
        display: flex;
        flex: 1;
    }
    
}