.header {
    width: 100%;
    height: auto;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/house-with-balcony-sky-background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-bottom {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient( rgba(79, 128, 252, 0.031), rgba(56, 79, 154, 0.29), rgba(38, 40, 74, 0.988)), url(images/img-hero-header.png);
    background-repeat: no-repeat;
    background-position: bottom;
    gap: 20px;
    padding-bottom: 20px;
}

.header-bottom h1 {
    color: var(--beige-foncé);
    font-family: var(--body-font);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-bottom h2 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 2.18rem;
    font-style: normal;
    font-weight: 700;
    text-align: justify;
    width: 1021px;
}

.header-bottom p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 1021px;
}

.header-bottom button {
    width: 218px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--bleue-clair);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    border: none;
    color: var(--white);
    font-family: var(--bouton-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 33px;
    cursor: pointer;
}

/* section découverte */
.découverte {
    width: 100%;
    height: 656px;
    display: flex;
    align-items: center;
    padding: 50px 80px;
    gap: 30px;
}

.découverte .découverte-text {
    width: 70%;
}

.découverte .découverte-text span {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.découverte .découverte-text h2 {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.découverte .découverte-text hr {
    width: 109px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #26284A;
}

.découverte .découverte-text p {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1.1px;
    padding: 50px 0px;
}

.découverte .découverte-text button {
    width: 226px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4F80FC;
    color: var(--white);
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.découverte  img {
    width: 315px;
    height: 280px;
}

/* pourquoi-albaraka */

.pourquoi-albaraka {
    width: 100%;
    height: 686px;
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    gap: 80px;
    background-image: url(images/nouvelles-cles-maison-plan-table-1.png);
    background-size: cover;
    margin-bottom: 100px;
}

.pourquoi-albaraka h2 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.pourquoi-albaraka .item-conteneur {
    display: flex;
    justify-content: space-between;
}

.pourquoi-albaraka .item-conteneur .item {
    width: 20%;
    height: 385px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    gap: 28px;
    text-align: center;
}

.item-conteneur .item img {
    width: 125px;
    height: 124px;
    background-color: var(--bleue-clair);
    padding: 25px;
    border-radius: 50%;
}

/* fonctionnalité-clé */
.fonctionnalité-clé {
    width: 100%;
    height: 765px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fonctionnalité-clé h2 {
    color: var(--bleue-foncé-footer);
    font-family: var(--body-font);
    font-size: 34px;
    font-weight: 700;
    padding-left: 50px;
}

.fonctionnalité-clé hr {
    width: 110px;
    height: 5px;
    border-radius: 2px;
    background: #26284A;
    margin-left: 50px;
}

.fonctionnalité-clé .fonctionnalité-banner {
    width: 100%;
    height: 550px;
    border: 1px solid blue;
    display: flex;
    margin-top: 50px;
}

.fonctionnalité-banner .banner-gauche {
    flex-basis: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/Keuryi-villa-Amy-Cover-650x650_1.png);
    background-size: cover;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fonctionnalité-banner .banner-gauche h3 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 30px;
    font-weight: 700;
}

.fonctionnalité-banner .banner-gauche p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 22px;
    font-weight: 400;
}

.fonctionnalité-banner .banner-gauche button {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--beige-foncé);
    color: var(--white);
    font-family: var(--bouton-font);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.fonctionnalité-banner .banner-droite {
    flex-basis: 50%;
    background-image: linear-gradient(rgba(255, 179, 102, 0.91),rgba(255, 179, 102, 0.915)), url(images/banner-droite.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 50px;
}

.fonctionnalité-banner .banner-droite h3 {
    text-align: center;
    font-family: var(--body-font);
    font-size: 26px;
    font-weight: 700;
    color: var(--bleue-foncé-footer);
}

.liste-conteneur {
    display: flex;
}

.banner-droite .liste-banner {
    width: 50%;
}

.banner-droite .liste-banner ul {
    list-style: none;    
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.banner-droite .liste-banner ul li {
    display: flex;
}

.liste-banner li p {
    color: #212D45;
    font-family: var(--liste-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.fonctionnalité-clé p.dernier-paragraphe {
    color: #26284A;
    font-family: var(--body-font);
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0px 15px 0px;
}