.header {
    width: 100%;
    height: 724px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/house-with-balcony-sky-background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( rgba(79, 128, 252, 0.031), rgba(56, 79, 154, 0.29), rgba(38, 40, 74, 0.988)), url(images/img-hero-header.png);
    background-repeat: no-repeat;
    background-position: center;
    gap: 20px;
}

.header-bottom h1 {
    color: var(--beige-foncé);
    font-family: var(--body-font);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-bottom h2 {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 2.18rem;
    font-style: normal;
    font-weight: 700;
    text-align: justify;
    width: 1021px;
}

.header-bottom p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 1021px;
}

.header-bottom button {
    width: 218px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--bleue-clair);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    border: none;
    color: var(--white);
    font-family: var(--bouton-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 33px;
    cursor: pointer;
}